<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>結果</title>
    <?php echo $this->Html->script( 'jquery.min.js', array( 'inline' => true));?>
    <?php echo $this->Html->script( 'enBasicQuestion.js', array( 'inline' => true));?>
    <?php echo $this->Html->script('bootstrap.min.js', array( 'inline' => true));?>
    <?php echo $this->Html->css('bootstrap.min.css');?>

</head>

<body>
<div class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Duo</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/ExSentences">例文一覧</a></li>
                <li><a href="/Questions">問題</a></li>
                <li><a href="/EnResults">結果</a></li>

            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>


<div class="main">
    <div id="title">
        <h2>結果</h2>
    </div><!--#title-->

    <div class="selectQuestion">
        <a href="/EnResults/basic">基礎問題</a></div>

    </div><!--.selectQuestion-->

</div><!--.main-->


</body>
</html>