<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>結果</title>
    <?php echo $this->Html->script( 'jquery.min.js', array( 'inline' => true));?>
    <?php echo $this->Html->script( 'enBasicQuestion.js', array( 'inline' => true));?>


</head>

<body>


<div class="main">
    <div id="title">
        <h2>結果</h2>
    </div><!--#title-->

    <div class="selectQuestion">
        <a href="/EnResults/basic">基礎問題</a></div>

    </div><!--.selectQuestion-->

</div><!--.main-->


</body>
</html>