<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <?php echo $this->Html->script( 'jquery.min.js', array( 'inline' => true));?>
    <?php echo $this->Html->script( 'enBasicQuestion.js', array( 'inline' => true));?>
    <?php echo $this->Html->script('bootstrap.min.js', array( 'inline' => true));?>
    <?php echo $this->Html->css('bootstrap.min.css');?>


</head>
<body>

<div class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Duo</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/ExSentences">例文一覧</a></li>
                <li><a href="/Questions">問題</a></li>
                <li><a href="/EnResults">結果</a></li>

            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>



<div class="main">
    <h2>
        問題<?php echo $id . '   :     '.$word_count.'単語';?>
    </h2>

    <h3><?php echo($question);?></h3>

    <br>
    <p class="showHintBtn">HINT表示</p>
    <div class="hintContent">
        <?php echo $enHint;?>
    </div>





    <?php echo $this->Form->create('Question', array('type' => 'post')); ?>
    <?php echo $this->Form->input('Question.answer', array('required' => false));?>
    <!--required => false  にしないとブラウザのエラーがでる。-->

    <?php echo $this->Form->error('Question.answer');?>


    <p class="showAnswerBtn">答えを表示</p>
    <div class="answerContent">
        <?php echo $answer;?>
    </div>



    <a id="listenBtn">音声を聞く</a>


    <?php
        echo '<div id="judge">';
        echo $msg;
        echo '</div>';
    ?>



    <?php echo $this->Form->end('解答する！') ;?>

</div><!--.main-->










<div class="quest">
    <div id="previous"><a href="<?php echo $id-1; ?>">前の問題</a></div>
    <div id="next"><a href="<?php echo $id+1; ?>">次の問題</a></div>
</div><!--.quest-->

<br>
<br>
<br>


</body>
</html>