<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <?php echo $this->Html->script( 'jquery.min.js', array( 'inline' => true));?>
    <?php echo $this->Html->script( 'enBasicQuestion.js', array( 'inline' => true));?>

</head>
<body>

<div class="main">
    <h2>
        問題<?php echo $id . '   :     '.$word_count.'単語';?>
    </h2>

    <h3><?php echo($question);?></h3>

    <?php echo 'HINT'; ?>
    <br>
    <?php echo ($enHint); ?>


    <?php echo $this->Form->create('Question', array('type' => 'post')); ?>
    <?php echo $this->Form->input('Question.answer', array('required' => false));?>
        <!--required => false  にしないとブラウザのエラーがでる。-->


    <?php echo $this->Form->error('Question.answer');?>

    <?php
        echo '<div id="judge">';
        echo $msg;
        echo '</div>';
    ?>

    <?php echo $this->Form->end('解答する！') ;?>
</div><!--.main-->



<div class="quest">
    <div id="previous"><a href="<?php echo $id-1; ?>">前の問題</a></div>
    <div id="next"><a href="<?php echo $id+1; ?>">次の問題</a></div>
</div><!--.quest-->

<br>
<br>
<br>



</html>