

<!DOCTYPE html>
<html>
<head lang="jp">
    <meta charset="UTF-8">
    <title></title>




</head>
<body>


<?php var_dump($question);?>
<?php var_dump($shuffleWords);?>
<?php var_dump($answer);?>
<?php var_dump($enHint);?>
<?php var_dump($score);?>
<?php var_dump($isCorrect);?>





<?php echo $this->Form->create('Question', array('type' => 'post')); ?>
<?php echo $this->Form->input('Question.rearrangeAnswer', array('required' => false));?>
<!--required => false  にしないとブラウザのエラーがでる。-->
<?php echo $this->Form->error('Question.rearrangeAnswer');?>
<?php echo $this->Form->end('解答する！') ;?>


</body>
</html>
